/*
 Style main 
*/
  html {
    font-family:  Roboto, Arial, sans-serif;
    font-weight: 90;
    font-size: 14px;
    color: var(--black);
  }

  
  body {
    background-color: #dbb93f;
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 5px 0;
  }

  .flex-container {
    display: flex;
    background-color: grey
}

.flex-item {
  background-color: green;
  width: 200px;
  height: 150px;
  margin: 10px;
  font-size: 50px;
  
}

  